<form>
    <section class="form-block">
        <a href="..." class="label label-light-blue clickable">
            Problem
            <span class="badge">12</span>
        </a>
        <p class="p3">Table, grid, and form text</p>
        <a href="..." class="label label-light-green clickable">
          Solution
          <span class="badge">id</span>
      </a>
        <input type="date" clrDate>


        <textarea id="aForm_3" rows="5"></textarea>

        <button type="submit" class="btn btn-primary">Reply</button>
    </section>
</form>