<div class="container">

    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" />
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
        <button routerLink="" class="btn btn-primary-outline ml-2"><clr-icon class="test" shape="map-marker"></clr-icon>
            <span class="title">Easy-contact</span></button>

        <form class="form-signin" (ngSubmit)="onLogin(formgroup)" [formGroup]="formgroup">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <button [clrLoading]="validateLoading" type="button" class="btn btn-lg btn-primary btn-block btn-signin" [disabled]="formgroup.invalid" type="submit">Sign in</button>
        </form>
        <!-- /form -->
        <a routerLink="/forget-password" class="forgot-password  m-5">
                Forgot the password?
            </a>
        <a routerLink="/reg" class="forgot-password">
               Sign Up
            </a>
    </div>
    <div class="alert alert-danger" *ngIf="err">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                               {{err}}
                            </span>
            </div>
        </div>
    </div>
</div>
<!-- /container -->