<h3>Message</h3>

<table class="table table-compact">
    <thead>
        <tr>
            <th class="left">Email</th>
            <th>Date</th>
            <th class="left"> Status</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let post of posts | async" routerLink="more/{{post.id}}">
            <td class="left">{{post.data.email}}</td>
            <td>{{post.data.date.seconds * 1000 | date }}</td>

            <td class="left">unread</td>
        </tr>

    </tbody>
</table>