<clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Angular</button>
        <clr-tab-content id="content1" *clrIfActive>
            <pre>
       
                <code>
                   #coming soon
                    
                </code>
            </pre>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Others</button>
        <clr-tab-content>
            <pre>
       
                <code>
                   #with just two line of code 
                   
                       &#60;app-contact&#62;loading&#60;/app-contact&#62;
                       &#60;script type&#61;"text/javascript" src&#61;"url"&#62;&#60;/script&#62;
                    
                    
                </code>
            </pre>

        </clr-tab-content>
    </clr-tab>