<clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Angular</button>
        <clr-tab-content id="content1" *clrIfActive>
            <h1>Angular</h1>
            <p> npm installeasymessage --save</p>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>React/Vue.js/Next</button>
        <clr-tab-content>
            <p>React/Vue.js/Next</p>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Php</button>
        <clr-tab-content>
            <p>Php</p>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>