<div id="page-wrapper">
    <clr-main-container>


        <section id="hero" class="pt-3 pb-2">
            <h2>Easy Contact is masterpieces</h2>
            <form>

                <input id="submit" type="submit" value="Get Started" routerLink='login' class="btn">
            </form>
        </section>


        <div class="container">
            <section id="features" class="row">
                <div class="grid">
                    <div class="icon">
                        <i class="fa fa-3x fa-fire"></i>
                    </div>
                    <div class="desc">
                        <h2>Easy to Implement </h2>
                        <p>The Easy Contact is easy to incorporate with any programming language ,with just two line of code</p>
                    </div>
                </div>
                <div class="grid">
                    <div class="icon">
                        <i class="fa fa-3x fa-globe"></i>
                    </div>
                    <div class="desc">
                        <h2>Offline First</h2>
                        <p>Works even when your internet connection is out </p>
                    </div>
                </div>
                <div class="grid">
                    <div class="icon">
                        <i class="fa fa-3x fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="desc">
                        <h2>Customer Service Presence </h2>
                        <p> Notifiy you about the customer service presense either offline, online or available</p>
                    </div>
                </div>
            </section>
            <section id="how-it-works">
                <iframe id="video" height="315" src="https://www.youtube-nocookie.com/embed/y8Yv4pnO7qc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </section>
            <section id="pricing">
                <div id="tenor">
                    <div class="level">
                        Free
                    </div>
                    <h2>$0</h2>
                    <ol>

                        <li>Real time messaging</li>
                        <li> Web notification</li>
                        <li>No multi-user access</li>

                    </ol>
                    <button class="btn" routerLink='reg'>Select</button>
                </div>
                <div id="bass">
                    <div class="level">
                        Premium
                    </div>
                    <h2>$20</h2>
                    <ol>
                        <li>Multi-user access</li>
                        <li>web notification</li>
                        <li>Analytics</li>

                    </ol>
                    <button class="btn">Still in production</button>
                </div>
                <div id="valve">
                    <div class="level">
                        Custom Design
                    </div>
                    <h2>$12000</h2>
                    <ol>
                        <li>Users specification</li>

                    </ol>
                    <button class="btn">Still in production</button>
                </div>
            </section>
            <footer>
                <ul>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <span>Copyright 2018, @swidatech</span>
            </footer>
        </div>
    </clr-main-container>


</div>