    .content {
        top: 10%;
        padding: 3% 3% 3% 0%;
    }
    
    .content .btn {
        color: #111;
    }
    /*.back{
	background: url('../img/1.jpeg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}*/
    
    .back .content {
        padding: 0
    }
    
    .back .content img {
        width: 100%
    }
    
    p {
        padding-top: 0px;
        margin-top: 0px;
        text-align: center;
    }
    
    .img {
        position: relative;
        left: 0%;
        padding-left: 0;
    }
    
    h2 {
        text-align: center;
        margin-top: 2px;
    }
    
    .us {
        position: relative;
        left: 30%;
        color: #00B7D6;
    }
    
    .header-6 {
        background-color: #00B7D6 !important;
    }
    
    .btn-color {
        border: 1px solid #00B7D6;
    }
    
    pre {
        background: #111;
        color: wheat;
    }
    
    .des {
        color: #00B7D6;
    }
    
    h3 {
        font-weight: 800;
    }
    
    .fol {
        background-color: azure;
    }
    
    .center-div {
        margin: 0 auto;
        width: 300px;
    }
    
    .center {
        text-align: center;
    }
    
    .btns {
        background-color: #111;
        border-color: aliceblue;
    }
    
    h1 {
        font: 1em;
        color: #00B7D6;
    }