<div class="alert alert-app-level alert-warning">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="warning-standard"></clr-icon>
            </div>
            <div class="alert-text">
                Demo version .Support this project
            </div>
            <div class="alert-actions">
                <button class="btn alert-action">Donate</button>
            </div>
        </div>
    </div>
    <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
</div>


<header class="header-6">
    <div class="branding">
        <a class="nav-link">
            <clr-icon class="test" shape="map-marker"></clr-icon>
            <span class="title">Easy-contact</span>
        </a>
    </div>


</header>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="content ml-1">
            <h1>A powerful way to manage your customers with just two lines of code</h1>
            <div class="col-sm-12 col-md-12 col-xs-12">
                <button routerLink="reg" class="btn btn-outline  btn-color">Get Started</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="content">
            <div class="card-img">
                <img src="https://raw.githubusercontent.com/ajanieniolasolomon/easy_contact/master/src/assets/contact1.png" alt="contact.svg">

            </div>
        </div>
    </div>
</div>
<div class="row m-1">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
        <div class="content">
            <clr-icon class="us" shape="cog" size="72"></clr-icon>
            <h2>Easy to intergrate</h2>
            <p>
                With just two line of code Easy-contact is up and running
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content">

            <clr-icon class="us" shape="envelope" size="72"></clr-icon>
            <h2>Realtime message</h2>
            <p>
                Provide realtime notification to clientn at any time and any place
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content">
            <clr-icon class="us m-0" shape="bell" size="72"></clr-icon>
            <h2>Web Notification</h2>
            <p>
                Send real-time web notification to client when ever message is sent
            </p>
        </div>
    </div>
</div>

<div class="row fol mt-3">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-0">
        <h2>Getting Started
            <clr-icon class="des center" size="36" shape="book"></clr-icon>
        </h2>
        <div class="center-div pl-3">
            <h3 class="m-2">
                Step One</h3>

            <div class=" btn-group btn-primary">
                <button class="btn btns" routerLink="reg">Register</button>
                <button class="btn btns" routerLink="login">Sign-Up</button>

            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-1 mr-1">
        <h3 class=" center m-0">
            Step Two</h3>

        <pre>
       
    <code>
       #with just two line of code 
       
           &#60;app-contact&#62;loading&#60;/app-contact&#62;
           &#60;script type&#61;"text/javascript" src&#61;"url"&#62;&#60;/script&#62;
        
        
    </code>
</pre>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-1">
        <h4>@Swidatech</h4>
    </div>
</div>